<%- contentFor('hero') %>

<div class="profile">
	<br>
	<img src="<%= user.photo %>" class="img-circle">
	<h1><%= user.name %></h1>
</div>

<div class="album">
	<div class="row">
		<div class="col-sm-12 align-center">
			<h3>Selecciona una foto y veamos que puede pasar</h3>
		</div>
	</div>
	<br>
</div>

<div class="profile">
	
	<% user.albumPhoto.forEach(function(photo) { %>
		<div class="gallery">
			<a href="/detectingImage?pic=<%= photo %>">
			<img class="gall" src="<%= photo %>" alt="img" width="300" height="200">
			</a>
		</div>
	<% }); %>

</div>


